<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/_assets/theme.css" />
  <link rel="icon" type="image/x-icon" href="/_assets/favicon.svg" />
  <title>Template</title>
</head>

<body class="active">
  <header class="header"></header>
  <section class="sidebar">
    <div class="menuToggle active"></div>
    <ul>
      <li class="logo" style="--bg:#242424;">
        <a href="#">
          <div class="icon"><img src= "_assets/favicon.svg"></div>
          <div class="text">0verview</div>
        </a>
      </li>
      <div class="MenuList">
        <li style="--bg:#66FF66; --nth:0" class="active">
          <a href="#">
            <div class="icon"></div>
            <div class="text">Dashboard</div>
          </a>
        </li>
        <li style="--bg:#66FF66;--nth:1">
          <a href="#">
            <div class="icon"></div>
            <div class="text">Clients</div>
          </a>
        </li>
        <li style="--bg:#66FF66;--nth:2">
          <a href="#">
            <div class="icon"></div>
            <div class="text">Invoices</div>
          </a>
        </li>
        <li style="--bg:#66FF66;--nth:3">
          <a href="#">
            <div class="icon"></div>
            <div class="text">Transactions</div>
          </a>
        </li>
        <li style="--bg:#66FF66;--nth:4">
          <a href="#">
            <div class="icon"></div>
            <div class="text">Bank Accounts</div>
          </a>
        </li>
        <li style="--bg:#66FF66;--nth:5">
          <a href="#">
            <div class="icon"></div>
            <div class="text">Companies</div>
          </a>
        </li>
        <li style="--bg:#f44336;--nth:6">
          <a href="#">
            <div class="icon"></div>
            <div class="text">Tax</div>
          </a>
        </li>
        <li style="--bg:#66FF66;--nth:7">
          <a href="#">
            <div class="icon"></div>
            <div class="text">Expenses</div>
          </a>
        </li>
        <li style="--bg:#66FF66;--nth:8">
          <a href="#">
            <div class="icon"></div>
            <div class="text">Reports</div>
          </a>
        </li>
        <li style="--bg:#66FF66;--nth:9">
          <a href="#">
            <div class="icon"></div>
            <div class="text">Settings</div>
          </a>
        </li>
      </div>

      <div class="bottom">
        <li>
          <a href="#">
            <div class="icon">
              <div class="imgBx"><img src=" {{ usrimg }} ">
              </div>
            </div>
            <div class="text">{{ usrname }}</div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="icon"></div>
            <div class="text">Logout</div>
          </a>
        </li>
    </ul>
    </div>


  </section>
  <main style="--bg:#66FF66;" class="main">
  </main>

  <footer class="footer">
    <div class="left-items">
      <span>Item 1</span>
      <span>Item 2</span>
    </div>
    <div class="right-items">
      <span>Item 3</span>
      <span>Item 4</span>
    </div>
  </footer>

  <script>
    let menuToggle = document.querySelector('.menuToggle');
    let body = document.querySelector('body');
    menuToggle.onclick = function () {
      menuToggle.classList.toggle('active');
      body.classList.toggle('active');
    }


    let Menulist = document.querySelectorAll('.MenuList li');
    let Main = document.querySelector('.main');
    function activeLink() {
      Menulist.forEach((item) =>
        item.classList.remove('active'));

      this.classList.add('active')
      // Get the '--bg' value of the clicked menu item
      let bgColor = window.getComputedStyle(this).getPropertyValue('--bg').trim();

      // Set the '--bg' value of the '.main' element to the clicked menu item's '--bg' value
      Main.style.setProperty('--bg', bgColor);
    }


    Menulist.forEach((item) =>
      item.addEventListener('click', activeLink));



  </script>


</body>

</html>